<head>
    <meta charset="utf-8">
    <meta name="author" content="AAV">
    <meta name="description" content="Config WepApp">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta name="copyright" content="Propietario del copyright" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../../img/favicon/favicon.ico" type="image/x-icon">
    <!-- Indica al robot de un buscador si debe indexar o no la página. -->
    <meta name="robots" content="index,follow" />
    <link rel="canonical" href="http://mydomain.com/pagina" />
    <!-- Multi-language support -->
    <!-- <link rel="alternate" href="http://mydomain.com" hreflang="es" />
    <link rel="alternate" href="http://mydomain.com/en/" hreflang="en" />
    <meta property="og:locale:alternate" content="en_US" /> -->
    <!-- Facebook: Open Graph Data  -->
    <meta property="og:description" content="configuration for a web page">
    <meta property="og:title" content="Config WepApp">
    <meta property="og:image" content="../../img/favicon/ms-icon-310x310.png">
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="310" />
    <meta property="og:image:height" content="310" />
    <!-- Twitter: Open Graph Data  -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="Tu descripción"/>
    <meta name="twitter:title" content="Titulo de la página"/>
    <meta name="twitter:site" content="@Organization"/>
    <meta name="twitter:creator" content="@Author"/>
    <!-- Google  -->
    <!-- Indica a Google que no muestre el minibuscador  -->
    <!-- <meta name="google" content="nositelinkssearchbox"> -->
    <meta name="google" content="notranslate">
    <link rel="publisher" href="https://plus.google.com/+myGplusPage/posts"/>
    <!-- Favicon -->
    <!-- <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json"> -->
    <!-- Page color -->
    <meta name="msapplication-TileColor" content="#f4f5f5">
    <!-- <meta name="msapplication-TileImage" content="/ms-icon-144x144.png"> -->
    <meta name="theme-color" content="#f4f5f5">
    <!-- search robots -->
    <!-- <meta name="robots" content="index,nofollow" />
    <meta name="robots" content="index,follow" />
    <meta name="robots" content="noindex,nofollow" /> -->
    <!-- Cache control -->
    <!-- Indica a Internet Explorer si guardar o no en caché la página. -->
    <meta http-equiv="cache-control" content="no-cache"/>
    <!-- Indica al navegador que no guarde en caché la página. -->
    <meta http-equiv="pragma" content="no-cache">
    <!-- Redirige a la URL después del número de segundos indicado. -->
    <!-- <meta http-equiv="expires" content="43200"/> -->
    <!-- Fecha a partir de la cuál se considera página expirada. -->
    <!-- <meta http-equiv="expires" content="Sat, 07 Feb 2016 00:00:00 GMT"/> -->
    <meta http-equiv="refresh" content="30">
    <!-- Styles-->
    <link rel="stylesheet" href="css/main.min.css">
    <title>Config WepApp</title>
</head>